* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Neuton', serif;
    display: flex;
    height: 100vh;
}

.name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 150px;
    position: relative;
    top: 150px
}

.name > p {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 6rem;
    color: white;
}

.name > img {
    height: 120px;
}

.left-section {
    background-image: url('https://images.unsplash.com/photo-1585202900154-cf66e657d8d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pic-author, .author {
    color: white;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.pic-author a, .author a {
    color: white;
    text-decoration: none;
}

.pic-author a:hover, .author a:hover {
    color:lightsalmon;
}

.right-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgb(236, 226, 226), rgb(182, 166, 166)) ;
    border-left: 4px solid black;
}

.elemental {
    font-size: 1.6rem;
    margin-top: 4px;
}

.text {
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
}

form {    
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    width: 100%;
    height: 52%;
    background-color: rgba(255, 255, 255, 0.801);
    overflow: hidden;
    box-shadow: 0 0 10px 0 black;
}

form h2 {
    font-size: calc(40% + 2rem);
    text-align: center;
    margin-bottom: 15px;
}

form input {
    width: min(20%, 200px);
    margin: 3px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
    height: 23px;
}

form input::placeholder {
    opacity: 0.6;
}

form label {
    color: rgb(70, 67, 67);
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 4px;
}

input[type="submit"] {
    padding: 6px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    border-radius: 20px;
    height: 40px;
}

input[type="submit"]:valid {
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

form input:focus {
    background: rgba(210, 210, 214, 0.438);
}

form input:valid {
    border-color: green;
}

form input:invalid {
    border-color: red
}

